:root {
  --primary: rgb(19, 11, 20);
  --secondary: rgb(232, 224, 241);
  --highlight: rgb(235, 231, 27);
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

a,
a:visited {
  color: var(--secondary);
  cursor: pointer;
}
